* {
padding: 0;
margin: 0;
} 

body {
margin:0;
padding: 0;
background: #111;
color: #444;
font: 12px Arial, Verdana, Tahoma, sans-serif;
line-height: 20px;
}

li {
margin: 0 0 0 25px;
}

img {border: none;}
a{ color: #173D7F; text-decoration: none; }
a:hover {  color: #000; }

#content {
width: 760px;
margin: 20px auto;
padding: 10px;
background: #fff;
}

#header {
background: #000 url(images/header.gif) no-repeat;
height: 90px;
margin: 0px;
padding: 0px;
}

#header h1 { 
font-size: 22px;
letter-spacing: -1px;
padding: 15px 0 0 10px;
color: #fff;
}
#header h1 a { 
color: #fff;
text-decoration: none;
}
#header h1 a:hover {
color: #ccc;
}
#header h2 {
font-size: 16px;
color: #ccc;
padding: 0 0 0 10px;
}

#navigation {
background: #111 url(images/menu.gif) repeat-x;
height: 30px;
line-height: 30px;
margin: 10px auto;
padding: 0 0 0 0;
}
#navigation li {
float:left;
margin: 0 0 0 0;
list-style-type:none;
border-right:1px solid #444;
}
#navigation li a {
display:block;
padding:0 20px;
text-decoration:none;
color: #fff;
letter-spacing:1px;
}
#navigation li a:hover {
background: #333 url(images/menuover.gif) repeat-x;
color:#fff;
text-decoration:none;
}




/*.left {
float: left;
width: 220px;
padding: 10px;
line-height: 14px;
}
.left h2 {
margin-top: 10px;
font: bold 12px Verdana, 'Trebuchet MS', Sans-serif;
padding: 5px 0 5px 5px; 	
border-bottom: 1px dotted #999;
}
.left ul  {
color: #999;
text-align: left;
margin: 3px 0 8px 0; 
padding-left: 20px;
text-decoration: none;	
list-style-type:square;	
}
.left ul li {
padding: 2px 0 2px 0px;
margin: 0 2px;	
}
.left ul a {
font-weight: 600;
color: #173D7F;
}
.left ul a:hover { color : #333; }
*/
.right { 
float: right;
width: 700px;
padding: 10px;
margin-right: 20px;
}

.big { 
float: left;
width: 760px;
padding: 0;
margin-right: 0;
}

.right h1 {
padding: 2px 0 5px 0px; 
font: bold 20px Verdana, 'Trebuchet MS', Sans-serif;
color: #444;	
/*border-bottom: 1px dotted #999;*/
margin-bottom: 1em;
margin-top: 1.5em;
}


.right h2 {
padding: 2px 0 5px 0px; 
font: bold 14px Verdana, 'Trebuchet MS', Sans-serif;
color: #444;	
/*border-bottom: 1px dotted #999;*/
margin-bottom: 1em;
margin-top: 1.5em;
}

.right h3{
padding: 2px 0 5px 0px; 
font: bold 12px Verdana, 'Trebuchet MS', Sans-serif;
color: #444;	
/*border-bottom: 1px dotted #999;*/
margin-bottom: 1em;
margin-top: 1.5em;
}

img.rechts
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

p
{
line-height: 1.5em;
margin-top: 1.0em;
margin-bottom: 1.0em;
text-align: justify;
}

td
{padding-right: 20px;
}

#footer { 
background: #222;
color: #eee;
margin-top:20px;
height: 30px;
line-height: 30px;
text-align: center;
}
#footer a {  color: #aaa; text-decoration: none; }
#footer  a:hover { color: #777; }

a:link{
background-color: transparent;
color: #777;
text-decoration: underline;
}

a:visited{
background-color: transparent;
color: #777;
text-decoration: underline;
}

a:hover{
background-color: transparent;
color: #aaa;
text-decoration: underline;
}

a:active{
background-color: transparent;
color: #aaa;
text-decoration: underline;
} 


/* - Code Samples */
#content kbd {
 margin: 0 1px;
 padding: 0 0.25em;
 font: 1em Tahoma, Helvetica, sans-serif;
 background: #E0E0E0;
 border-width: 1px;
 border-style: solid;
 border-color: #bebab0 #666 #333 #bbb;
}
#content samp {
 line-height: 1.5; /* 1px shift */
}
#content samp, #content samp code {
 font-family: "Microsoft Sans Serif", "MS Sans Serif", Geneva, sans-serif;
}
#content code, #content pre {
 font-family: Consolas, "Lucida Console", Monaco, monospace;
}
#content code {
 color: #366;
 line-height: 1.25; /* 1px shift */
}
#content pre {
 /* Long unbroken code: /blog/2007/12/
    Styling overriden: /web/articles/code-in-pre */
 margin-top: 0;
 margin-bottom: 1em; /* Margin shorthand would undo gutter */
 color: #000;
 white-space: pre-wrap;
 white-space: -moz-pre-wrap; /* Mozilla */
 white-space: -o-pre-wrap; /* Opera 7+ */
 background: #E0E0E0;
}
#content pre code, #content pre samp {
 display: block;
 margin: 0; /* Opera adds a margin */
 padding: 0.5em 1em;
 color: #000;
 line-height: 1.25;
 background: transparent;
 border: 1px solid #bebab0;
}

