html{background: #505050;
	size:920px;
	margin-left: 60px;
	text-align: center;
	}

body {
	margin-left:60px;
	padding:0;
	color:#616161;
	font:normal 12px Arial, Helvetica, sans-serif;
	text-align: center;
}
.main {
	padding:0;
	margin-left:60px;
	width:800px;
	
	background:#f1f1f1 url(/images1/main_bg.gif) top repeat-x;
}
.clr {
	clear:both;
	padding:0;
	margin:0;
	width:800px;
	font-size:0;
	line-height:0;
}
.logo {
	padding:15px 0 20px 0;
	margin:0 auto;
	width:240px;
	float:left;
}
.logo img {
	float:left;
	margin:0 10px 0 0;
}
h1 {
	margin:0;
	padding:5px 0;
	width:800px;
	color:#fff;
	font:normal 36px Arial, Helvetica, sans-serif;
	text-align:left;
	}
h1 a {
	color:#fff;
	text-decoration:none;
	float:left;
}
h1 a:hover {
	color:#78bbe6;
	text-decoration:none;
}
h1 a:hover span {
	color:#fff;
}
h1 span {
	color:#78bbe6;
}
h1 small {
	color:#fff;
	float:left;
	padding:18px 0 0 10px;
	font:normal 12px Arial, Helvetica, sans-serif;
	letter-spacing:normal;
}
h2 {
	font:normal 24px Arial, Helvetica, sans-serif;
	padding:0;
	margin:5px 0;
	color:#595959;
	text-align:left;
}

h3 {
	font:normal 12px Arial, Helvetica, sans-serif;
	margin:5px 0;
	color:#fff;
	letter-spacing:normal;
	width:720px;
}

h3 p {
	text-align:left;
}

h3 a {
	color:#fff;
	text-decoration:underline;
}

h3 a:hover {
	color:#fff;
	text-decoration:underline;	
}

p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
	letter-spacing:normal;
	text-align:left;
}

a {
	color:#78bbe6;
	text-decoration:none;
}
a:hover {
	text-decoration:underline;
}

.header {
width:720px;
margin-left:5%;
}

.header_resize {
	margin:0 auto;
	padding:3px 0 0 0;
	width:720px;
}
.header_img {
	width:720px;
	padding:80px 0 0 0;
	
}
.header_img img {
	float:left;
	padding: 0 0 0 50px;
}
.header_img h2 {
	width:720px;
	float:right;
	text-align:left;
	font:normal 26px Arial, Helvetica, sans-serif;
	color:#fff;
	padding:15px 0 0 0;
	margin:0;
	/*text-transform:uppercase;*/
}

.hdr h2{
	font:normal 26px Arial, Helvetica, sans-serif;
	color:#fff;
}

.header_img p {
	width:480px;
	float:right;
	text-align:left;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#fff;
	line-height:1.8em;
	padding:10px 0 0 0;
}
.menu_nav {
	margin:20px 0 0 0;
	margin-right:0%;
	padding:3px 0 0 10px;
	float:right;
	width:550px;
}
.menu_nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
.menu_nav li {
	float:left;
	padding:0 5px;
}
.menu_nav li a {
	background:url(/images1/r_menu_one.gif) no-repeat right;
	font:normal 13px Arial, Helvetica, sans-serif;
	letter-spacing:normal;
	color:#878989;
	display:block;
	float:left;
	padding:10px 0;
}
.menu_nav li a span {
	background:url(/images1/l_menu_one.gif) no-repeat left;
	color:#878989;
	padding:10px 15px;
}
.menu_nav li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(/images1/r_menu.gif) no-repeat right;
}
.menu_nav li a:hover span {
	text-decoration:none;
	color:#fff;
	background:url(/images1/l_menu.gif) no-repeat left;
}
.menu_nav li.active a {
	text-decoration:none;
	color:#fff;
	background:url(/images1/r_menu.gif) no-repeat right;
}
.menu_nav li.active a span {
	text-decoration:none;
	color:#fff;
	background:url(/images1/l_menu.gif) no-repeat left;
}


.submenu_nav {
	margin:0px 0 0 -71px;
	padding:3px 0 0 0;
	float:left;
	width:550px;
}
.submenu_nav ul {
	list-style:none;
	padding:0;
	margin:0;
}
.submenu_nav li {
	float:left;
	padding:0 5px;
}
.submenu_nav li a {
	background:url(/images1/r_menu_one.gif) no-repeat right;
	font:normal 13px Arial, Helvetica, sans-serif;
	color:#878989;
	display:block;
	float:left;
	padding:10px 0;
}
.submenu_nav li a span {
	background:url(/images1/l_menu_one.gif) no-repeat left;
	padding:10px 15px;
}

.submenu_nav li p {
	padding:10px 15px;
}

.submenu_nav li a:hover {
	text-decoration:none;
	color:#fff;
	background:url(/images1/r_menu.gif) no-repeat right;
}
.submenu_nav li a:hover span {
	text-decoration:none;
	color:#fff;
	background:url(/images1/l_menu.gif) no-repeat left;
}
.submenu_nav li.active a {
	text-decoration:none;
	color:#fff;
	background:url(/images1/r_menu.gif) no-repeat right;
}
.submenu_nav li.active a span {
	text-decoration:none;
	color:#fff;
	background:url(/images1/l_menu.gif) no-repeat left;
}


.content {
	padding:10px 0 0 0;
	width:640px;
	margin-left:10%;
}
.content_resize {
	margin:0 auto;
	padding:10px 0 0 0;
	width:640px;
}
.content .mainbar {
	margin:0;
	float:right;
	width:680px;
}
.content .mainbar img {
	float:left;
	padding:4px;
	margin:0 10px 0 0;
	border:1px solid #eaecec;
	background-color:#fff;
}
.content .mainbar .article {
	margin:0 0 20px 0;
	padding:30px 20px;
	width:680px;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
	letter-spacing:normal;
}

.content .mainbar .article img
{
position: relative;
float: right;
margin: 0em 0em 1.8em 1.8em;
}

.content .mainbar .article .right
{
margin:0 0 20px 0;
	padding:30px 20px;
	width:450px;
	float:right;
}

.content .mainbar .article a {
	color:#78bbe6;
	text-decoration:none;
}

.content .mainbar .article p {
	margin:8px 0;
	padding:0 0 8px 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#000;
	letter-spacing:normal;
	text-align:left;
}

.content .mainbar .article .p a{
	color:#78bbe6;
	text-decoration:none;
}

.content .mainbar .article ul {
	list-style: none;
	
}



.fbg {
	padding:0 0 0 0;
	width:800px;
	background:#1e557a url(/images1/fbg_bg.gif) bottom repeat-x;
	margin:0;
	margin-left: 60px;
}
.fbg_resize {
	margin:0 auto;
	padding:0px 20px;
	}
.fbg h2 {
	color:#5190bb;
}
.fbg p {
	color:#fff;
}
.fbg a {
	color:#5190bb;
	text-decoration:none;
}
.fbg img {
	padding:4px;
	border:1px solid #cfd2d4;
	background-color:#fff;
}

.footer {
	width:800px;
	margin-left:20px;
	padding:40px 0 20px 0;
}
.footer p {
	line-height:normal;
	color:#9a9a9a;
}
.footer a {
	color:#9a9a9a;
	text-decoration:underline;
}
.footer a:hover {
	text-decoration:none;
}

.failure {
	color:#FF0000;
}

.error {
	color:#FF0000;
}

.twitter{ 
float: left;
width: 170px;
padding: 5px;
margin-right: 10px;
}