<div class="menu_nav">
    <ul>
    	<li id="menuHome"><a href="/"><span>Home</span></a></li>
	
		<li id="menuCV"><a href="/cv"><span>CV</span></a></li>
		<li id="menuResearch"><a href="/Research"><span>Research</span></a></li>
		<li id="menuLinks"><a href="/links"><span>Links</span></a></li>
		<li id="menuBlog"><a href="/Blog"><span>Blog</span></a></li>
	</ul>

	{% if page.submenu == "cv"%}
	<div class="submenu_nav">
		<ul>
			<li>
			&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;
			</li>
			<li id="pub">
				<a href=\publications><span>Publications</span></a>
			</li>
		</ul>
	</div>					

	{%elsif page.submenu == "pub" %}
	<div class="submenu_nav">
		<ul>
			<li>
			&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;
			</li>
			<li id="pub">
				<a href=\publications><span>Publications</span></a>
			</li>
		</ul>
	</div>

	{% elsif page.submenu == "research"%}
	<div class="submenu_nav">
		<ul>
			<li>
			&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp;
			</li>
			<li id="prom">
				<a href=\promotie><span>Promotion</span></a>
			</li>
		</ul>
	</div>
	
	{%elsif page.submenu == "prom" %}
	<div class="submenu_nav">
		<ul>
			<li>
			&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;	&nbsp; &nbsp;&nbsp;&nbsp;	 &nbsp;&nbsp;
			</li>
			<li id="prom">
				<a href=\promotie><span>Promotion</span></a>
			</li>
		</ul>
	</div>	

	{% endif %}
	<div class="clr"></div>
</div>

{% if page.menu %}
	<script type="text/javascript">
		document.getElementById("{{page.menu}}").setAttribute("class", "active");
	</script>
{% endif %}

{% if page.submenu %}
	<script type="text/javascript">
		document.getElementById("{{page.submenu}}").setAttribute("class", "active");
	</script>
{% endif %}

